.test-case-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    color: white;
    margin-top: 20px;
}

.test-cases {
    margin-bottom: 20px;
}

.test-case {
    padding: 10px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 8px;
}

.test-case-input, .test-case-expected {
    font-size: 14px;
}

.run-tests-btn {
    background-color: #ff312e;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #950101;
    }
}
